body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #0E0E10;
    background: #f5f5f5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}

/* Header*/

.header {
    background: #fff;
    height: 50px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; /* высота хедера */
}

.nav__ul { /* Меню навигации слева*/
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    width: 507px; /* было 385 + 92 логотип гугл и + 30 паддинг между лого и ссылкой*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    text-decoration: none;
    color: #0E0E10;
}

.nav__link:hover {
    color: #ef233c;
    transition: all .12s linear;
}

/* Логотип*/

.logo { /* Картинка размер*/
    height: 30px;
}

.logo__link { /* Ссылка на картинку с переходом на главную*/
    height: 30px;
}

.logo__inner { /* Размер блока с логотипом*/
    height: 30px;
}

/* Линия под хедером*/

.line__under__header {
    margin: 0;
    border: none;
    color: #ddd;
    background-color: #ddd;
    height: 1px;
}

/* Меню пользователя сверху*/

.right__nav {
    margin: 0;
    padding: 0;
    width: 122px;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropbtn {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

/* Картинка */

.top__profile__img {
    padding: 0;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn:active {
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
    width: 160px;
    height: 109px; /* Высота выпадающего окна */
    top: 45px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown__links {
    color: #0E0E10;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    align-items: center;
}

.dropdown__links__block:hover {
    background: #dadada;
    border-radius: 5px;   
    transition: all .12s linear;
}

.show {display: block;}

.dropdown__links__block {
   width: 140px;
   padding: 5px;
   margin: 5px 10px;
   display: inline-flex;
}

/* Блок в картинке */

.dropdown__block {
    width: 40px;
    height: 40px;
}

/* Обводка картинки */

.dropdown__block:hover {
    background: #dadada;
    border-radius: 40px;
    transition: all .12s linear;
}

/* Блок иконок */

.dropdown__menu__icons__block {
    height: 19px;
    padding-right: 5px;
}

/* Размер иконки */

.dropdown__menu__icons {
    width: 19px;
    height: 19px;
}

/* К0рзина */

.basket {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Обводка картинки */

.basket:hover {
    border: 1px solid #dadada;
    background-color: #dadada;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .12s linear;
}